<!-- BACKDROP WITH MODAL -->
<div class="backdrop-with-modal">
  <div class="modal">
    <button class="modal-close-button">
      <svg class="modal-close-svg" width="15" height="15">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>
    <h5 class="modal-main-heading"></h5>
    <div class="modal-img-and-info-container">
      <img class="modal-artist-img" src="" alt="artist-photo" />

      <div class="modal-all-text-container">
        <div class="modal-first-mini-container">
          <ul class="modal-basic-info-list">
            <li class="modal-info-years-li">
              <p class="modal-info-semibold-text">Years active</p>
              <p class="modal-info-normal-text js-modal-years"></p>
            </li>
            <li class="modal-info-sex-li">
              <p class="modal-info-semibold-text">Sex</p>
              <p class="modal-info-normal-text js-modal-sex">Lorem</p>
            </li>
          </ul>
        </div>

        <div class="modal-second-mini-container">
          <ul class="modal-basic-info-list">
            <li class="modal-info-members-li">
              <p class="modal-info-semibold-text">Members</p>
              <p class="modal-info-normal-text js-modal-members"></p>
            </li>
            <li class="modal-info-country-li">
              <p class="modal-info-semibold-text">Country</p>
              <p class="modal-info-normal-text js-modal-country"></p>
            </li>
          </ul>
        </div>

        <div class="modal-bio-container">
          <p class="modal-info-bio">Biography</p>
          <p class="modal-info-text js-modal-bio"></p>
        </div>

        <div class="modal-info-genres-container">
          <ul class="modal-info-genres-list"></ul>
        </div>
      </div>
    </div>

    <h4 class="heading-before-table">Albums</h4>
    <ul class="artist-modal-list"></ul>
  </div>
</div>
