<!-- ARTISTS GALLERY -->
 <section class="section-gallery" id="gallery">

  <div class="container">

    <div class="gallery-title">
      <p class="gallery-text">Artists</p>
      <h2 class="gallery-main-title">Explore your new favorite artists</h2>
    </div>
   


    <ul class="gallery-list">
      <li class="gallery-not-found hidden">
      <svg class="icon-info" width="40" height="40">
        <use href="../img/"></use>
      </svg>
      <h3 class="gallery-not-found-title">Silence on the stage…</h3>
      <p class="gallery-not-found-text">Looks like no artists match your filters.<br/>
Try changing them or hit “Reset Filters” to bring back the beat.</p>
      <button class="gallery-btn">Reset filters</button>
    </li>
    </ul>

    
    
  </div>
 </section>