<!-- ARTISTS GALLERY -->
 <section class="section-gallery" id="gallery">

  <div class="container">

    <div class="gallery-title">
      <p class="gallery-text">Artists</p>
      <h2 class="gallery-main-title">Explore your new favorite artists</h2>
    </div>
    <div class="filter-and-gallery">

<div class="gallery-filter">
    <div class="filter-name-and-button">

      <p class="filter-name">Filters</p>
      <button class="filters-button">Search and Filters</button>

    </div>
     

    <div class="filters-body hidden">
      <div class="filter-group">
        <label><input class="filter-input" type="text" placeholder="Search" /></label>
       
      </div>

      <div class="filter-group">
        <label class="">Sorting</label>
        <select class="filter-select">
          <option class="filter-option">Default</option>
          <option class="filter-option">A–Z</option>
          <option class="filter-option">Z–A</option>
        </select>
      </div>

      <div class="filter-group">
        <label>Genre</label>
        <select class="filter-select">
          <!-- <option>All</option>
          <option>Jazz</option>
          <option>Rock</option>
          <option>Pop</option> -->
        </select>
      </div>
    </div>
    </div>
    <ul class="gallery-list">
      <div class="gallery-not-found hidden">
      <svg class="icon-info" width="40" height="40">
        <use href="../img/"></use>
      </svg>
      <h3 class="gallery-not-found-title">Silence on the stage…</h3>
      <p class="gallery-not-found-text">Looks like no artists match your filters.<br/>
Try changing them or hit “Reset Filters” to bring back the beat.</p>
      <button class="gallery-btn">Reset filters</button>
    </div>
    </ul>

    </div>
    
  </div>
 </section>