<section id="feedback" class="feedback container section">
  <h2 class="visually-hidden">Feedbacks our visitors</h2>
  <div class="feedback-slider swiper" role="region" aria-live="polite">
    <button
      class="arrow-btn swiper-button-prev"
      type="button"
      aria-label="show previous feedback"
    >
      <svg class="left-arrow" width="24" height="24">
        <use href="./img/sprite.svg#left-arrow-btn"></use>
      </svg>
    </button>

    <div class="swiper-wrapper"></div>

    <button
      class="arrow-btn swiper-button-next"
      type="button"
      aria-label="show next feedback"
    >
      <svg class="right-arrow" width="24" height="24">
        <use href="./img/sprite.svg#right-arrow-btn"></use>
      </svg>
    </button>

    <div class="swiper-pagination"></div>
  </div>
  <button class="feedback-btn js-feedback-btn" type="button">
    Leave feedback
  </button>
</section>
