<section class="feedback container">
  <h1 class="visually-hidden">Feedbacks our visitors</h1>
  <div class="feedback-slider swiper" role="region" aria-live="polite">
    <!-- <button class="arrow-btn prev" type="button">
      <svg class="left arrow" width="24" height="24">
        <use href="./img/left-arrow.svg"></use>
      </svg>
    </button>

    <ul class="feedback-list">
      <li class="feedback-item">
        <div class="raty" data-raty></div>
        <p class="feedback-text">
          "ArtistsHub has transformed the way I discover new music. It's like
          having a personal DJ that knows my taste perfectly!"
        </p>
        <p class="feedback-author">Emily Johnson</p>
      </li>
    </ul>

    <button class="arrow-btn next" type="button">
      <svg class="right arrow" width="24" height="24">
        <use href="./img/right-arrow.svg"></use>
      </svg>
    </button> -->
  </div>
</section>
