<div class="backdrop js-backdrop">
  <div class="container feedback-modal">
    <button type="button" class="feedback-modal-btn js-feedback-modal-btn">
      <svg class="feedback-modal-icon-cloce" width="14" height="14">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="feedback-modal-header">Submit feedback</h2>

    <form class="feedback-modal-form">
      <label for="name" class="feedback-modal-label"
        >Name
        <input
          class="feedback-modal-input"
          type="text"
          name="name"
          placeholder="Emily"
        />
      </label>

      <label for="message" class="feedback-modal-label"
        >Message
        <input
          class="feedback-modal-input"
          type="text"
          name="message"
          placeholder="Type your message..."
        />
      </label>
      <ul class="feedback-modal-stars">
        <li class="feedback-modal-star-item">
          <svg width="30" heigth="29">
            <use href="../img/icons.svg#star"></use>
          </svg>
        </li>
        <li class="feedback-modal-star-item">
          <svg width="30" heigth="29">
            <use href="../img/icons.svg#star"></use>
          </svg>
        </li>
        <li class="feedback-modal-star-item">
          <svg width="30" heigth="29">
            <use href="../img/icons.svg#star"></use>
          </svg>
        </li>
        <li class="feedback-modal-star-item">
          <svg width="30" heigth="29">
            <use href="../img/icons.svg#star"></use>
          </svg>
        </li>
        <li class="feedback-modal-star-item">
          <svg width="30" heigth="29">
            <use href="../img/icons.svg#star"></use>
          </svg>
        </li>
      </ul>
      <button class="feedback-modal-submit-btn" type="submit">Submit</button>
    </form>
  </div>
</div>
