<footer class="footer-section">
  <div class="container">
    <a class="main-link-footer" href="">
      <svg class="icon-logo-footer" width="106" height="30">
        <use href="./img/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav-footer">
      <ul class="nav-list-footer">
        <li class="nav-item-footer">
          <a class="nav-link-footer" href="">Artists</a>
        </li>
        <li class="nav-item-footer">
          <a class="nav-link-footer" href="">About us</a>
        </li>
        <li class="nav-item-footer">
          <a class="nav-link-footer" href="">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="wrraper-social-footer">
      <ul class="social-list-footer">
        <li class="social-item-footer">
          <a class="social-link-footer" href="">
            <svg class="social-icon-logo-footer" width="32" height="32">
              <use href="./img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item-footer">
          <a class="social-link-footer" href="">
            <svg class="social-icon-logo-footer" width="32" height="32">
              <use href="./img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item-footer">
          <a class="social-link-footer" href="">
            <svg class="social-icon-logo-footer" width="32" height="32">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-text">&#169; 2025 ArtistsHub. All rights reserved.</p>
    </div>
  </div>
</footer>
