<header class="container header">
  <nav class="navigation">
    <a href="./index.html" class="header-logo">
      <svg class="header-logo-icon">
        <use href="./img/sprite.svg#logo"></use>
      </svg>
    </a>
    <ul class="header-list">
      <li class="header-item">
        <a href="./Artists/index.html" class="menu-item"> Artists </a>
      </li>
      <li class="header-item">
        <a href="./About Us/index.html" class="menu-item"> About Us </a>
      </li>
      <li class="header-item">
        <a href="./Reviews/index.html" class="menu-item"> Reviews </a>
      </li>
    </ul>
    <div class="burger-btn">
      <svg class="burger-icon">
        <use href="../img/sprite.svg#icon-burger"></use>
      </svg>
      <svg class="cross-icon hide">
        <use href="../img/sprite.svg#close"></use>
      </svg>
    </div>
  </nav>
</header>

<!-- header-menu-open -->
<div class="menu-burger hide">
  <nav class="menu-burger-modal">
    <ul class="menu-burger-list">
      <li class="menu-burger-item">
        <a href="./Artists/index.html" class="menu-burger-link">Artists</a>
      </li>
      <li class="menu-burger-item">
        <a href="./About Us/index.html" class="menu-burger-link">About Us</a>
      </li>
      <li class="menu-burger-item">
        <a href="./Reviews/index.html" class="menu-burger-link">Reviews</a>
      </li>
    </ul>
  </nav>
</div>
