<header class="header-box">
  <div class="container container-header">
    <nav class="navigation">
      <a href="./index.html" class="logo">
        <svg class="logo-icon" width="106" height="30">
          <use href=""></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a href="./Artists/index.html" class="menu-item"> Artists </a>
        </li>
        <li class="header-item">
          <a href="./About Us/index.html" class="menu-item"> About Us </a>
        </li>
        <li class="header-item">
          <a href="./Reviews/index.html" class="menu-item"> Reviews </a>
        </li>
      </ul>
      <div class="burger-svg">
        <svg class="burger-icon" width="16" height="12">
          <use href=""></use>
        </svg>
      </div>
    </nav>
  </div>
</header>

<!-- header-menu-open -->
<div class="menu-burger">
  <nav class="menu-burger-modal">
    <a href="./index.html" class="logo">
      <svg class="logo-icon" width="106" height="30">
        <use href=""></use>
      </svg>
    </a>
    <div class="menu-burger-close-btn">
      <svg class="menu-burger-close-btn-icon" width="12" height="12">
        <use href=""></use>
      </svg>
    </div>
    <ul class="menu-burger-list">
      <li class="menu-burger-item">
        <a href="./Artists/index.html" class="menu-burger-link">Artists</a>
      </li>
      <li class="menu-burger-item">
        <a href="./About Us/index.html" class="menu-burger-link">About Us</a>
      </li>
      <li class="menu-burger-item">
        <a href="./Reviews/index.html" class="menu-burger-link">Reviews</a>
      </li>
    </ul>
  </nav>
</div>
