<header class="header" id="header">
  <div class="container">
    <nav class="navigation">
      <a href="./index.html" class="header-logo" aria-label="logo-icon">
        <svg class="header-logo-icon" width="106" height="30">
          <use href="./img/sprite.svg#logo"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a href="#artists" class="menu-item"> Artists </a>
        </li>
        <li class="header-item">
          <a href="#about" class="menu-item"> About Us </a>
        </li>
        <li class="header-item">
          <a href="#feedback" class="menu-item"> Reviews </a>
        </li>
      </ul>
      <div class="burger-btn">
        <svg class="burger-icon" aria-label="burger-button">
          <use href="./img/sprite.svg#icon-burger"></use>
        </svg>
        <svg class="cross-icon hide" aria-label="close-button">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </div>
    </nav>
  </div>
</header>

<!-- header-menu-open -->
<div class="menu-burger hide">
  <nav class="menu-burger-modal">
    <ul class="menu-burger-list">
      <li class="menu-burger-item">
        <a href="#artists" class="menu-burger-link">Artists</a>
      </li>
      <li class="menu-burger-item">
        <a href="#about" class="menu-burger-link">About Us</a>
      </li>
      <li class="menu-burger-item">
        <a href="#feedback" class="menu-burger-link">Reviews</a>
      </li>
    </ul>
  </nav>
</div>
