<section class="hero">
  <div class="container">
    <div class="hero-text-content">
      <h1 class="hero-title">Discover Your Next Favorite Artist Today</h1>
      <p class="hero-desk">
        Dive into a world of music discoveries with ArtistsHub – your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <a href="#artists" class="hero-btn">
        <span class="hero-btn-text">Explore Artists</span>
        <svg width="24" height="24">
          <use href="../img/sprite.svg#icon-hero-btn-right-arrow"></use>
        </svg>
      </a>
    </div>

    <div class="hero-slider">
      <div class="splide column" id="slider-left">
        <div class="splide__track">
          <ul class="splide__list"></ul>
        </div>
      </div>

      <div class="splide column" id="slider-right">
        <div class="splide__track">
          <ul class="splide__list"></ul>
        </div>
      </div>
    </div>
  </div>
</section>
