.backdrop-with-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);

  opacity: 0;
  pointer-events: none;
  /* transition: opacity 500ms linear; */
}

.backdrop-with-modal.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  height: 85vh;
  padding: 52px 8px;
  border-radius: 16px;
  background: #060307;
  overflow: auto;

  @media screen and (min-width: 768px) {
    padding: 64px 24px;
    width: 654px;
  }

  @media screen and (min-width: 1440px) {
    padding: 64px;
    width: 1312px;
  }
}

.modal-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  fill: #fff;
  transition: fill 250ms linear;

  @media screen and (min-width: 768px) {
    top: 16px;
    right: 47px;
  }

  @media screen and (min-width: 1440px) {
    top: 16px;
    right: 16px;
  }
}

.modal-close-svg {
  fill: #fff;
}

.modal-youtube-svg {
  fill: #fff;
}

.modal-main-heading {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 48px;
  }
}

.modal-img-and-info-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.modal-artist-img {
  border-radius: 16px;

  width: 272px;
  height: 167px;

  @media screen and (min-width: 768px) {
    border-radius: 16px;

    width: 654px;
    height: 402px;
  }

  @media screen and (min-width: 1440px) {
    width: 576px;
    height: 354px;
  }
}

.modal-all-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    gap: 24px;
  }
}

/* .modal-basic-info-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
} */

.modal-first-mini-container {
}

.modal-second-mini-container {
}

.modal-basic-info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 24px;
  }
}

.modal-info-years-li {
  min-width: 146px;
}

.modal-info-semibold-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.modal-info-normal-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.modal-info-sex-li {
}

.modal-info-members-li {
  min-width: 146px;
}

.modal-info-country-li {
}

.modal-info-bio {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.modal-info-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.modal-info-genres-container {
}

.modal-info-genres-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.modal-info-genre-li {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
}

.modal-info-genre {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

/* table */
.artist-modal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.modal-table-li {
  background-color: #1e1c1f;
  width: 100%;
  /* height: 634px; */
  height: 100%;
  border-radius: 16px;
  padding: 14px 11px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
    /* height: 564px; */
  }

  @media screen and (min-width: 1440px) {
    width: calc((100% - 32px * 3) / 4);
  }
}

.artist-modal-album-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 12px;
}

.heading-before-table {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 16px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.track-col {
  width: 38.8%;
}

.time-col {
  width: 30.4%;
}

.link-col {
  width: 30.8%;
}

table th {
  font-weight: 600;
  font-size: 8px;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}

/* .main-row {
  border-radius: 8px;
} */

th,
td {
  padding: 4px 0px 4px 12px;
}

thead th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
thead th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

tbody tr:nth-child(even) td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

tbody tr:nth-child(even) td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.modal-table-li {
  display: inline-block;
}

tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

tbody td {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}

.position-left {
  text-align: left;
}

.position-center {
  text-align: center;
}
