.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);

  opacity: 0;
  pointer-events: none;
  /* transition: opacity 500ms linear; */
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1312px;
  height: 85vh;
  padding: 64px;
  border-radius: 16px;
  background: #060307;
  overflow: auto;
}

.modal-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  fill: #fff;
  transition: fill 250ms linear;
}

.modal-main-heading {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.modal-img-and-info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 48px;
}

.modal-artist-img {
  border-radius: 16px;
}

.modal-all-text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* .modal-basic-info-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
} */

.modal-first-mini-container {
}

.modal-second-mini-container {
}

.modal-basic-info-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.modal-info-years-li {
  min-width: 146px;
}

.modal-info-semibold-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.modal-info-normal-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.modal-info-sex-li {
}

.modal-info-members-li {
  min-width: 146px;
}

.modal-info-country-li {
}

.modal-info-bio {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.modal-info-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.modal-info-genres-container {
}

.modal-info-genres-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.modal-info-genre-li {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
}

.modal-info-genre {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}
