.backdrop-with-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.85); */
  background-color: rgba(30, 30, 30, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms linear;
}

.backdrop-with-modal.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  height: calc(100vh - 128px);
  box-sizing: border-box;
  padding: 52px 8px;
  border-radius: 16px;
  background: #060307;
  overflow: auto;
  scrollbar-width: none;

  @media screen and (min-width: 768px) {
    padding: 64px 24px;
    width: 654px;
  }

  @media screen and (min-width: 1440px) {
    padding: 64px;
    width: 1312px;
  }
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  fill: var(--color-scheme-1-text);
  transition: fill 250ms linear;

  &:focus,
  &:hover {
    fill: var(--color-affair);
  }

  @media screen and (min-width: 768px) {
    /* right: 31px; */
  }

  @media screen and (min-width: 1440px) {
    right: 0;
  }
}

/* tooltip */
.modal-close-button::after {
  content: 'Close';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 6px;
  background: #fff;
  color: var(--color-affair);
  font-size: 14px;
  font-family: inherit;
  opacity: 0;
  transition: opacity 250ms linear;
}

.modal-close-button:hover::after {
  opacity: 1;
}

.link-modal-artist-track-list {
  line-height: 0;
  display: inline-block;
  fill: var(--color-scheme-1-text);
  transition: fill 250ms linear;

  &:hover,
  &:focus {
    fill: var(--color-affair);
  }
}

.modal-main-heading {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 48px;
  }
}

.modal-img-and-info-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.modal-artist-img {
  border-radius: 16px;
  object-fit: cover;
  object-position: top;
  width: 272px;
  height: 167px;

  @media screen and (min-width: 768px) {
    width: 654px;
    height: 402px;
  }

  @media screen and (min-width: 1440px) {
    width: 576px;
    height: 354px;
  }
}

.modal-all-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 272px;

  @media screen and (min-width: 768px) {
    gap: 24px;
    max-width: 654px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 576px;
  }
}

/* .modal-basic-info-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
} */

.modal-basic-info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 24px;
  }
}

.modal-info-years-li {
  min-width: 146px;
}

.modal-info-semibold-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.modal-info-normal-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.modal-info-members-li {
  min-width: 146px;
}

.modal-info-bio {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.modal-info-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  max-height: 279px;
  overflow: auto;

  @media screen and (min-width: 768px) {
    max-height: 108px;
  }

  @media screen and (min-width: 1440px) {
    max-height: 135px;
  }
}

/* прокрутка */
.modal-info-text::-webkit-scrollbar {
  width: 5px;
}

/* повзунок */
.modal-info-text::-webkit-scrollbar-thumb {
  background-color: #764191;
  border-radius: 8px;
}

/* фон прокрутки */
.modal-info-text::-webkit-scrollbar-track {
  background: var(--color-scheme-2-foreground);
  border-radius: 8px;
}

.modal-info-genres-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.modal-info-genre-li {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
}

.modal-info-genre {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

/* table */
.artist-modal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.modal-table-li {
  background-color: #1e1c1f;
  box-sizing: border-box;
  /* width: 100%; */
  /* height: 634px; */
  /* height: 100%; */
  overflow-y: auto;
  scrollbar-width: none;
  max-height: 564px;
  border-radius: 16px;
  padding: 14px 11px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
    /* height: 564px; */
  }

  @media screen and (min-width: 1440px) {
    width: calc((100% - 32px * 3) / 4);
  }
}

/* .modal-table-li::-webkit-scrollbar {
  display: none;
} */

.artist-modal-album-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 12px;
}

.heading-before-table {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 16px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.track-col {
  width: 38.8%;
}

.time-col {
  width: 30.4%;
}

.link-col {
  width: 30.8%;
}

table th {
  font-weight: 600;
  font-size: 8px;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}

/* .main-row {
  border-radius: 8px;
} */

th,
td {
  padding: 4px 0px 4px 12px;
}

thead th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

thead th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

tbody tr:nth-child(even) td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

tbody tr:nth-child(even) td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.modal-table-li {
  display: inline-block;
}

tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

tbody td {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}

.position-left {
  text-align: left;
}

.position-center {
  text-align: center;
}
