/* ==============================MOBILE STYLES */
.section-artists {
  background-color: var(--color-scheme-1-background);
}
.container {
  padding-top: 64px;
  padding-bottom: 64px;

  @media screen and (min-width: 1440px) {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

.artists-title {
  text-align: start;
  margin-bottom: 32px;

  @media screen and (min-width: 1440px) {
    width: 863px;
    margin-bottom: 80px;
  }
}
.artists-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  margin-bottom: 16px;
}
.artists-main-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);

  @media screen and (min-width: 1440px) {
    font-size: 84px;
  }
}

.artists-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    gap: 32px;
  }
}

.artists-list {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  margin-bottom: 32px;

  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    flex-basis: calc((100% - 32px) / 2);
  }
}

.artist-card {
  max-width: 288px;

  @media only screen and (min-width: 768px) {
    max-width: 704px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 472px;
  }
}

.artist-thumb {
  border-radius: 16px;
  width: 100%;
  height: 177px;
  object-fit: cover;
  margin-bottom: 24px;

  @media only screen and (min-width: 768px) {
    height: 432px;
  }

  @media only screen and (min-width: 1440px) {
    height: 290px;
  }
}

.artist-genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.genre-item {
  border: 1px solid var(--opacity-white-20);
  border-radius: 6px;
  padding: 4px 10px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
}

.artist-name {
  text-align: start;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 8px;
}

.artist-biography {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  text-align: start;
  margin-bottom: 24px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.learn-more-btn {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  background-color: transparent;
  fill: var(--color-white);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
}

.artists-not-found {
  border-radius: 16px;
  padding: 16px;
  background-color: var(--color-scheme-3-foreground);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 32px;
    max-width: 704px;
  }
}
.artists-not-found-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
}
.artists-not-found-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

.artists-btn {
  margin: 0 auto;
  border-radius: 12px;
  padding: 10px 24px;
  min-width: 256px;
  height: 47px;
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background-color: var(--color-affair);

  @media screen and (min-width: 768px) {
    margin-left: 0;
    min-width: 148px;
  }
}

.select-btn {
  background-color: transparent;
  background: none;
  border: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);

  &:hover {
    color: var(--opacity-white-60);
  }
}

.filters {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  z-index: 9999;
  border-radius: 12px;
  padding: 12px;
  max-width: 289px;
  width: 100%;
  gap: 12px;
  box-sizing: border-box;
  background-color: var(--color-scheme-2-foreground);

  @media only screen and (min-width: 768px) {
    width: 304px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 0;
    background-color: transparent;
  }
}

@media (min-width: 1440px) {
  .filters {
    position: relative; /* возвращаем в поток */
    top: auto;
    left: auto;
    width: 100%;
    max-width: none;
    background-color: transparent;
    padding: 0;
  }
}

.filters-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  font-family: var(--third-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

.reset-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-white);
  background-color: transparent;
  background: none;
  border: none;

  &:hover {
    color: var(--opacity-white-60);
  }
}

/* Search */
.search-box {
  position: relative;
  display: block;
}
.search-box input {
  width: 100%;
  background: var(--opacity-transparent);
  border: 1px solid var(--opacity-white-20);
  border-radius: 12px;
  padding: 8px 12px 8px 48px;

  outline: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
}

.search-box input::placeholder {
  color: var(--opacity-white-60);
}

.search-form-icon {
  line-height: 0;
  fill: var(--color-scheme-2-text);
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

/* 🔽 Select */
.select {
  border: 1px solid var(--opacity-white-20);
  border-radius: 12px;
}
.select-btn {
  fill: var(--color-scheme-2-text);
  display: flex;
  justify-content: space-between; /* текст слева, стрелка справа */
  align-items: center;
  padding: 8px 12px;
  width: 100%;
  background: var(--opacity-transparent);

  outline: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
}

.select-btn:focus,
.select-btn:active {
  outline: none;
  color: var(--color-scheme-2-text);
  background: var(--opacity-transparent);
}

.select-list-wrapper {
  padding: 24px;
  border-top: 1px solid var(--opacity-white-20);
  box-sizing: border-box;
}

.select-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  text-align: start;

  max-height: 328px;
  overflow-y: auto; /* добавляем вертикальный скролл */
  box-sizing: border-box; /* учитываем padding при высоте */

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}

.select-item {
}
/* полоса прокрутки */
.select-list::-webkit-scrollbar {
  width: 5px;
}

/* «ползунок» */
.select-list::-webkit-scrollbar-thumb {
  background-color: #764191;
  border-radius: 8px;
}

/* фон полосы прокрутки */
.select-list::-webkit-scrollbar-track {
  background: var(--color-scheme-2-foreground);
  border-radius: 8px;
}
