body {
  margin: 0;
  font-weight: 400;
  color: var(--color-scheme-1-text);
  font-family: var(--font-family);
  background-color: var(--color-scheme-1-background);
}

.is-hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

h4 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

h5 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

  /* &:hover {
    background-color: #6c8cff;
  }
} */
