/* Styles for Mobile devices */
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 64px;
  }
}

/* example */
/* button {
  background-color: red;
  &:hover {
    background-color: white;
  }
} */