.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.feedback-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  margin-bottom: 80px;
}
.feedback-btn {
  border-radius: 12px;
  padding: 10px 24px;
  width: 177px;
  height: 47px;
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #764191;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  transition: opacity linear 250ms;
}
.feedback-btn:hover {
  opacity: 0.6;
}
.feedback-btn:active {
  opacity: 1;
}
.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  width: 48px;
  height: 48px;
  padding: 12px;
  transition: background-color linear 250ms, border-color linear 250ms,
    color linear 250ms;
}

.arrow-btn:active {
  background-color: #381b46;
  border-color: rgba(6, 3, 7, 0.15);
}
.swiper-button-prev,
.swiper-button-next {
  color: #ffffff;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #6a686a;
}
.swiper-button-prev:active,
.swiper-button-next:active {
  color: #ffffff;
}
.swiper-slide {
  padding-inline: 175px;
  box-sizing: border-box;
  min-height: 250px;
}
.swiper-pagination {
  transform: translateY(10px);
}
.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.2;
  width: 8px;
  height: 8px;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff;
  opacity: 1;
  outline: none;
}
.feedback-item {
}
.feedback-text {
  margin-bottom: 32px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-white);
}
.feedback-author {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--color-white);
}
.raty {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 32px;
}

.raty .star-off-png::before {
  content: url('../img/feedback-star.svg');
}

.raty .star-on-png::before {
  content: url('../img/filled-star-feedbeck.svg');
}
