.feedback-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  margin-bottom: 80px;
}

/*left/right arrows buttons*/
.arrow-btn {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--opacity-white-50);
  border-radius: 8px;
  width: 48px;
  height: 48px;
  padding: 12px;

  transition: background-color linear 250ms, border-color linear 250ms,
    color linear 250ms;

  @media only screen and (min-width: 768px) {
    display: flex;
  }
}
.arrow-btn:active {
  background-color: var(--color-neutral-darker);
  border-color: var(--opacity-neutral-darkest-15);
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--color-white);
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--opacity-white-50);
}
.swiper-button-prev:active,
.swiper-button-next:active {
  color: var(--color-white);
}

.swiper-slide {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 300px;

  @media only screen and (min-width: 768px) {
    padding-inline: 100px;
  }
  @media only screen and (min-width: 1440px) {
    padding-inline: 175px;
  }
}

/*pagination*/
.swiper-pagination {
  transform: translateY(10px);
}
.swiper-pagination-bullet {
  background-color: var(--color-white);
  opacity: 0.2;
  width: 8px;
  height: 8px;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-white);
  opacity: 1;
}
/* з більшою кількістю динамічних булетів виглядає краще, ніж з 3 */
/* .swiper-pagination-bullet:not(.swiper-pagination-bullet-active-main):not(
    .swiper-pagination-bullet-active-prev
  ):not(.swiper-pagination-bullet-active-next) {
  opacity: 0;
} */

.feedback-text {
  margin-bottom: 32px;
  height: 100%;
  text-align: center;

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);

  @media only screen and (min-width: 768px) {
    font-size: 26px;
  }
  @media only screen and (min-width: 1440px) {
    font-size: 32px;
  }
}
.feedback-author {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--color-scheme-1-text);
}

/*rating stars*/
.raty {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 32px;
}
.raty .star-off-png::before {
  content: url('../img/feedback-star.svg');
}
.raty .star-on-png::before {
  content: url('../img/filled-star-feedbeck.svg');
}

/*leave feedback*/
.feedback-btn {
  display: block;
  border-radius: 12px;
  margin: 0 auto;
  padding: 10px 24px;
  width: 100%;

  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background-color: var(--color-affair);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);

  transition: opacity linear 250ms;

  @media only screen and (min-width: 768px) {
    min-width: 177px;
    width: auto;
  }
}
.feedback-btn:hover {
  opacity: 0.6;
}
.feedback-btn:active {
  opacity: 1;
}
