@import url(root.css);

body {
  color: var(--color-scheme-1-text);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  transition: opacity 50ms linear;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.feedback-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 320px;
  height: 100vh;
  background-color: #2e2e2e;
  padding-top: 64px;
  padding-bottom: 58px;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}
.feedback-modal-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 9px;
  width: 32px;
  height: 32px;

  border: none;
  background-color: inherit;
  &:hover {
    background-color: inherit;
  }
}

.feedback-modal-icon-cloce {
}

.feedback-modal-header {
  text-align: center;
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em;
  /* margin-bottom: 0; */
}
.feedback-modal-form {
  /* display: flex;
  flex-direction: column; */
}
.feedback-modal-label {
}
.feedback-modal-input {
}
.feedback-modal-stars {
  display: flex;
}
.feedback-modal-star-item {
}
.feedback-modal-submit-btn {
  &:hover {
    background-color: firebrick;
  }
}
