.header {
  position: sticky;
  top: 0;
  background-color: var(--color-scheme-1-background);

  width: 100%;
  z-index: 1000;
}

.hide {
  display: none !important;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  line-height: 0;
  width: 119px;
  height: 51px;
}

.header-logo-icon {
  fill: var(--color-scheme-1-text);
  width: 106px;
  height: 30px;
  cursor: pointer;

  transition: fill 250ms linear;

  &:hover,
  &:focus {
    fill: var(--color-affair);
  }
}

.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover .burger-icon,
  &:focus .burger-icon {
    fill: var(--color-affair);
  }
}

.burger-icon {
  fill: var(--color-scheme-1-text);
  width: 16px;
  height: 12px;

  transition: fill 250ms linear;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10.5px;
  padding-bottom: 10.5px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.header-list {
  display: none;
  line-height: 1.5;
  color: var(--color-scheme-1-text);

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;

    font-size: 18px;
  }
}

.menu-item {
  transition: color 250ms linear;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color-affair);
    text-decoration: underline;
  }
}

/* -------  menu - open --------*/

.menu-burger {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);

  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  pointer-events: auto;
  transition: opacity 500ms linear;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-burger.hide {
  opacity: 0;
  pointer-events: none;
}

.menu-burger-modal {
  position: relative;
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  background-color: var(--color-scheme-1-background);

  padding: 17px 26px;
  /* box-sizing: border-box; */
  /* pointer-events: auto;
  z-index: 999; */

  /* transition: opacity 500ms linear; */
}

.cross-icon {
  top: 26px;
  right: 30px;
  line-height: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-scheme-1-text);
  cursor: pointer;

  transition: fill 250ms linear;

  &:hover,
  &:focus {
    fill: var(--color-affair);
  }
}

.menu-burger-list {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 111px;

  font-weight: 500;
  font-size: 26px;
  color: var(--color-scheme-1-text);
}

.menu-burger-item {
  width: 100%;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color-affair);
    text-decoration: underline;
  }
}

.menu-burger-link {
  display: inline-flex;
  justify-content: center;
  width: 100%;

  transition: color 250ms linear;
}
