.hero {
  background-color: var(--color-scheme-3-background);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    background: linear-gradient(180deg, #060307 0%, rgba(35, 19, 43, 0) 100%);

    pointer-events: none;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 106px;
    background: linear-gradient(180deg, rgba(35, 19, 43, 0) 0%, #060307 100%);
    pointer-events: none;
  }

  @media (min-width: 768px) {
    &::before {
      height: 32px;
    }
  }

  @media (min-width: 1440px) {
    &::before {
      height: 80px;
    }
  }
}

.hero .container {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    align-items: flex-start;
  }

  @media (min-width: 1440px) {
    flex-direction: row;
    gap: 31px;
  }
}

.hero-text-content {
  padding: 64px 0;
  @media (min-width: 768px) {
    padding: 32px 0;
    max-width: 624px;
  }

  @media (min-width: 1440px) {
    width: calc((100% - 31px) / 2);
    padding: 215px 0;
  }
}

.hero-title {
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);

  @media (min-width: 768px) {
    margin-bottom: 24px;
  }
  @media (min-width: 1440px) {
    font-size: 84px;
  }
}

.hero-desk {
  margin-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);

  @media (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 20px;
  }
}

.hero-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  width: 100%;
  max-width: 288px;
  height: 47px;
  border-radius: 12px;
  margin: 0 auto;
  border: none;

  background: var(--color-affair);

  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);

  transition: opacity 250ms linear, transform 250ms ease;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  /* &:active {
    transform: translateY(1px);
  } */

  @media (min-width: 768px) {
    max-width: 246px;
    margin-left: 0;
  }

  @media (min-width: 1440px) {
    max-width: 206px;
  }
}

.hero-btn-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
}
.hero-slider {
  display: flex;
  gap: 16px;
  height: 385px;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;

  @media (min-width: 768px) {
    height: 632px;
  }

  @media (min-width: 1440px) {
    gap: 18px;
    height: 900px;
  }
}

.column img {
  height: 170px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  user-select: none;
  pointer-events: none;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    height: 340px;
  }
}

.column {
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 106px;
    pointer-events: none;
  }

  &::before {
    top: 0;
    background: linear-gradient(180deg, #060307 0%, rgba(35, 19, 43, 0) 100%);
    z-index: 2;
  }

  &::after {
    bottom: 0;
    background: linear-gradient(180deg, rgba(35, 19, 43, 0) 0%, #060307 100%);
  }
}
