/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('modern-normalize/modern-normalize.css');
@import url('izitoast/dist/css/iziToast.min.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');
@import url('loaders.css/loaders.min.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./artists.css');
@import url('./about.css');
@import url('./feedback.css');
@import url('./footer.css');
@import url('./artist-detail-modal.css');
@import url('./loader.css');
@import url('./iziToast.css');
@import url('./root.css');